**.autosave
**.zip
**.csv
**.html
Code/GUI/ReverseGeocachr/release/
Code/GUI/ReverseGeocachr/debug/
**.clue
Code/Firmware/Debug/
Code/Firmware/Release
Code/Firmware_Old
**.o
**.cpp.*
Tools/
Old/
scripts/
Datasheets/
PCB/gerber/
**.tmp
*.tmp
*.pro.user.*