*.autosave
*.zip
*.csv
*.clue
*.o
*.cpp.*
*.tmp
*.pro.*
*.stash
*.Debug
*.Release
*.pdf
*.pyc
*.d 
Code/GUI/release/
Code/GUI/debug/
Code/GUI/Makefile

Code/LPC11U68_Firmware/Debug/

PCB/gerber/
Datasheets/

Code/protocol/html
Code/protocol/doxygen_sqlite3.db