*.autosave
*.zip
*.csv
*.clue
*.o
*.cpp.*
*.tmp
*.pro.*
*.stash
*.Debug
*.Release
*.pdf
*.pyc

Code/GUI/release/
Code/GUI/debug/
Code/GUI/Makefile

Code/Firmware/Debug/

PCB/gerber/
Datasheets/

Code/protocol/html
Code/protocol/doxygen_sqlite3.db

Code/LPC_Firmware/Debug
Code/LPC_Firmware/Release